@using EU_CottonContainer.Model
@model Perfil
@{
    Layout = "_Layout";
}
<script>
    $(function () {
        $('#frmEditPerfil').submit(function () {
            $.ajax(
                {   
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {

                        var strRes = result;
                        if (result == 'OK') {
                            successMessageRedirect('Completado.', 'Perfil actualizado con éxito.');
                        }
                        else {
                            warningMessage('Advertencia', result);
                        }
                    },
                    beforeSend: function () {
                        $('.loader').show();
                    }
                });
            return false;
        });
    });

    function successMessageRedirect(uxtitle, uxmessage) {
        swal(uxtitle, uxmessage, {
            icon: "success",
            buttons: {
                confirm: {
                    className: "btn btn-black",
                },
            },
            timer: 20000,
        }).then(function () {
            window.location.href = '@Url.Content("~/Perfil/Index")';
        });
    }

    function warningMessage(uxtitle, uxmessage, control) {
        $('.loader').hide();
        swal(uxtitle, uxmessage, {
            icon: "warning",
            buttons: {
                confirm: {
                    className: "btn btn-black",
                },
            },
        }).then(function () {
            $("#" + control).focus();
        });
    }

</script>

<style>
    .vertical-center {
        text-align: right;
    }
</style>

<div class="page-header">
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a href="#">
                <i class="fas fa-layer-group"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="#">Seguridad</a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="#">Perfiles</a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="#">Editar Perfil</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form method="post" asp-action="SaveEditPerfil" asp-controller="Perfil" id="frmEditPerfil">
                @Html.AntiForgeryToken()
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h5>Editar Perfil</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control letras" required asp-for="Nombre" id="txtNombre" maxlength="50" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-action vertical-center">
                    <button type="submit" class="btn btn-black">Editar</button>
                    <button type="submit" class="btn btn-secondary" onclick="location.href='@Url.Content("~/Perfil/Index")';">Cancelar</button>
                    <input type="hidden" asp-for="idPerfil" />
                </div>
            </form>
        </div>
    </div>
</div>